body{
    background: white;
}
.container{
    width: 350px;
    box-sizing: border-box;
    margin: 30px auto;

}
#display__history{
    width: 320px;
    height: 20px;
    text-align: right;

    margin: 0 5px ;
}
#display__enter{
    width: 320px;
    height: 40px;
    font-size: 26px;
    text-align: right;

    margin: 0 5px;
}
.keys_style-buttons{
    width: 50px;
    height: 50px;
    font-size: 16px;
    font-family: Arial, serif;
    border-radius: 30px;
    margin: 15px;
}